.display {
    display: inherit;
}

/* Images */

.main-food-rastaurant-img {
    object-fit: cover;

    height: 200px;
    width: calc(100vw - 305px);
}

.main-foodbox-img {
    border: solid rgba(128, 128, 128, 0.487) 1px;

    height: 128px;
    width: 128px;
    left: calc(50% - 64px);
    /* right: 50%; */
    top: 130px;
    border-radius: 50%;

    position: absolute;
    object-fit: cover;
}

.nav-arrow-icon {
    height: 48px;
}

.food-img {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.add-food {
    width: 50px;
    padding: 0;
    border-left: solid rgba(123, 123, 123, 0.222) 1px;
    border-bottom: solid rgba(123, 123, 123, 0.222) 1px;
    color: orange;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-food:hover {
    background-color: rgba(128, 128, 128, 0.111);
    cursor: pointer;
}

.change-amount {
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-amount:hover {
    background-color: rgba(128, 128, 128, 0.111);
    cursor: pointer;
}

.trash-img {
    height: 24px;
}

.trash-img:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.111);
}

/* Main */
.main-container {
    display: flex;
    position: relative;
}

main {
    width: calc(100vw - 300px);
    display: flex;
}

.container-short-information {
    height: 300px;

    position: relative;
}

.container-rating {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.rating {
    color: orange;
}

.container-food-navigation {
    background-color: rgba(205, 205, 205, 0.241);
    height: 60px;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
}

.food-navigation {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: calc(100vw - 300px);
}

.link-food-navigation {
    height: 24px;
    width: 100px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

.link-food-navigation:hover {
    background-color: rgb(219, 219, 219);
}

.container-food {
    height: 100px;
    padding-left: 20px;
    border: solid rgba(123, 123, 123, 0.222) 1px;

    display: flex;
    justify-content: space-between;
}

.container-food-information {
    height: 95px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-add-food {
    display: flex;
    justify-content: end;
    align-items: start;
}

.border-right {
    height: 100%;
    border-right: solid rgb(223, 223, 223) 1px;
    filter: drop-shadow(-5px 0 5px rgb(128, 128, 128));
}

/* A-Side */
.aside {
    width: 300px;
}

.basket-title {
    padding: 12px 0;
    text-align: center;
}

.container-deliver-option {
    display: flex;
    justify-content: space-between;
    border-bottom: solid rgba(123, 123, 123, 0.5) 1px;

    padding: 10px 50px;
}

.button-deliver-option {
    background-color: rgb(255, 140, 0);
}

.button-deliver-option:hover {
    cursor: pointer;
}

.button-active {
    background-color: rgb(255, 194, 81);
}

.container-basket {
    padding-top: 10px;
    padding-bottom: 10px;
}

.basket {
    padding-top: 5px;

    display: flex;
    justify-content: space-between;
}

.send-order {
    margin-top: 20px;
    background-color: orange;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-order:hover {
    cursor: pointer;
}

.sticky {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
    overflow-x: inherit;
}

.container-amount {
    width: 50%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.container-order {
    width: 50%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-food-price {
    width: 80px;
    padding-right: 20px;
    text-align: end;
}

.container-price-view {
    border-top: solid rgba(123, 123, 123, 0.5) 1px;
    border-bottom: solid rgba(123, 123, 123, 0.5) 1px;
    padding: 10px 20px 10px 20px;
}

.total {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}

/* Responsive */

@media (max-width: 900px) {
    .main-foodbox-img {
        display: none;
    }
}

@media (max-width: 800px) {
    .main-food-rastaurant-img {
        width: 100vw;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    main {
        min-width: 100vw;
        display: flex;
    }

    aside {
        background-color: white;
        min-width: 100%;
        position: sticky;
        bottom: 0px;
    }

    .basket-title {
        background-color: rgb(0, 145, 255);
        position: sticky;
        top: 0px;
    }

    .basket-title:hover {
        background-color: rgb(0, 174, 255);
        cursor: pointer;
    }

    .button-deliver-option {
        height: 30px;
        width: 150px;
    }

    .container-basket {
        overflow-y: scroll;
        scrollbar-color: rgba(236, 122, 1, 0.634) rgba(197, 197, 197, 0.396);
        max-height: 200px;
    }

    .container-basket {
        padding: 0 80px;
    }

    .basket {
        padding-bottom: 10px;
    }

    .container-amount {
        width: 200px;
        padding-left: 50px;
    }

    .container-order {
        width: 200px;
        padding-right: 50px;
        justify-content: end;
    }

    .send-order {
        min-height: 50px;
        position: sticky;
        bottom: 0px;
    }

    .display {
        display: none;
    }

    .food-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    padding-right: 20px;
}
}

@media (max-width: 500px) {
    .food-img {
        height: 100px;
    }

    .food-navigation {
        overflow-x: scroll;
        scrollbar-color: rgba(236, 122, 1, 0.634) rgb(255, 255, 255);
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 15px;
    }

    p {
        font-size: 15px;
    }

    a {
        font-size: 14px;
    }

    .container-food-navigation {
        padding-right: 20px;
    }

    .container-basket {
        padding: 0 10px;
    }

    .button-deliver-option {
        width: 100px;
    }

    .basket {
        padding-bottom: 10px;
    }

    .container-amount {
        width: 200px;
        padding-left: 5px;
    }

    .container-order {
        width: 200px;
        padding-right: 5px;
        justify-content: end;
    }

    .add-food {
        height: 35px;
        width: 35px;
    }
    .link-food-navigation {
        min-width: 100px;
    }
}