* {
    margin: 0;
    max-width: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.p-side {
    padding: 0px 20px;
}